.position {
	border: 1px solid #fff;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
.table {
	border: 1px solid #fff;
	margin: 0 auto;
	background: url(bg.jpg);
	position: relative;
}
.TickTackToe{
	top: 50%;
	left: 50%;
	position: absolute;
}
.reboot{
	border: 1px solid #ccc;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
.reboot:hover {
	background: #ccc;
}
.position{
	cursor: pointer;
}
.changeType {
	overflow: hidden;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}
.changeType>div {
	width: 50%;
	float: left;
	text-align: center;
	background: #e3e3e3;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.changeType .active {
	background: #323232;
	color: #fff;
}
.winWindow {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.72);
	width: 100%;
	text-transform: uppercase;
	height: 100%;
	text-align: center;
	padding: 40% 0;
	margin-top: 0px;
	font-size: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-shadow: 1px 1px 4px #000;
	color: #FFF;
}
.zombie{
	background-image: url('../images/zombie/bg.png');
	background-size: 100% auto;
}
label {
	display: block;
	float: left;
	width: 120px;
	text-align: right;
	padding: 0 10px 0 0;
}
div.config {
	width: 190px;
	background: #e3e3e3;
	border-radius: 20px;
	padding: 20px 5px;
	margin: -100px 0 0 -100px;
	border: 2px solid #000;
}
input {
	width: 35px;
}
#submitConfig {
	width: 70px;
	text-align: center;
	display: block;
	background: #CDD9FD;
	text-decoration: none;
	margin: 10px auto 0;
	border: 1px solid #00f;
	color: #000;
}
#submitConfig:hover{
	background: #fff;
}